- if contact.errors.any?
  .alert.alert-dismissable.alert-danger
    %h3
      = t('errors.messages.not_saved',                  |
        count: contact.errors.count,                       |
        contact: contact.class.model_name.human.downcase) |
    %ul
      - contact.errors.full_messages.each do |message|
        %li= message
